.museus {
  width: 100%;
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: #83c5be;
}

/* Título da página */

.heading-museus {
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 42px;
  line-height: 72px;
  font-weight: 800;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 60px;
}

/* Pesquisa de Museus */

.input-buscar {
  width: 402px;
  height: 75px;
  font-size: 18px;
  margin: 0 0 42px 73px;
  padding-left: 2rem;
  border: 1px solid #83c5be;
  border-radius: 45px;
  background-color: #9bd0cb;
}

::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: 39px;
  letter-spacing: 0.05em;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Container dos Cards */

.container {
  margin-bottom: 120px;
}

/* Cards de Museus */

.card {
  margin-top: 2rem;
  background-color: snow;
  color: #ffffff;
  box-shadow: 0px 0px 8px gray;
}

.card:hover {
  box-shadow: 0px 0px 25px gray;
  border-width: 2px;
  border-color: #04889f;
}

/*FAIXA ROSA COM LINK*/

.section {
  display: flex;
  width: 100%;
  height: 80px;
  background: #ffddd2;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section p {
  font-weight: 600;
  font-size: 20px;
  line-height: 48px;
  letter-spacing: 0.05em;
  margin: 0;
  color: #006d77;
}

.section a {
  font-weight: 600;
  font-size: 20px;
  line-height: 48px;
  letter-spacing: 0.05em;
  margin: 0;
  color: #ef7649;
}
