<div class="museus">
  <app-nav-bar></app-nav-bar>

  <h1 class="heading-museus">MUSEUS</h1>

  <form>
    <input
      class="input-buscar"
      type="search"
      id="search"
      name="museuProcurado"
      placeholder="Buscar:"
      #museuProcurado
      (keyup)="getMuseu(museuProcurado.value)"
      required
    />
  </form>

  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-4" *ngFor="let museu of allMuseus">
        <museu class="card" [museu]="museu"></museu>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
