<div class="museus">
  <app-nav-bar></app-nav-bar>

  <h1 class="heading-museus">MUSEUS</h1>

  <form>
    <input
      class="input-buscar"
      type="search"
      name=""
      id="search"
      name="museuProcurado"
      placeholder="Buscar:"
      #museuProcurado
      required
      (keyup)="getMuseu(museuProcurado.value)"
    />
  </form>

  <!-- <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-3" *ngFor="let museu of allMuseus | async">
          <app-museu class="card" [museu]="museu"></app-museu>
      </div>
    </div>
  </div> -->

  <app-footer></app-footer>
</div>
