<div class="alterar-museu">

    <h1 class="title">ALTERAR MUSEU</h1>

    <form action="">
        <div class="column">
            <label for="">URL DA IMAGEM:</label> <br />
            <input type="text" />
        </div>
        <small class="text-formato">Formato jpeg/png (tamanho mín. 1440x604 px)</small>

        <div class="column">
            <label for="">NOME DO MUSEU:</label> <br />
            <input type="text" />
        </div>

        <div class="column">
            <label for="">DESCRIÇÃO:</label> <br />
            <input type="text" />
        </div>

        <div class="column">
            <label for="">HORÁRIOS DE FUNCIONAMENTO:</label> <br />
            <input type="text" />
        </div>

        <h2 class="text-h2">CONTATO:</h2>
        <div class="row">
            <div class="column">
                <label for="">SITE OFICIAL:</label> <br />
                <input type="text" />
            </div>
            <div class="column">
                <label for="">INSTAGRAM:</label> <br />
                <input type="text" />
            </div>
        </div>

        <h2 class="text-h2">ENDEREÇO:</h2>
        <div class="row">
            <div class="column">
                <label for="">LOGRADOURO:</label> <br />
                <input type="text" />
            </div>
            <div class="column">
                <label for="">NÚMERO:</label> <br />
                <input type="text" />
            </div>
        </div>

        <div class="row">
            <div class="column">
                <label for="">CEP:</label> <br />
                <input type="text" />
            </div>
            <div class="column">
                <label for="">BAIRRO:</label> <br />
                <input type="text" />
            </div>
        </div>

        <div class="row">
            <div class="column">
                <label for="">CIDADE:</label> <br />
                <input type="text" />
            </div>
            <div class="column">
                <label for="">ESTADO:</label> <br />
                <input type="text" />
            </div>
        </div>

        <div class="row">
            <div class="column">
                <label for="">PAÍS:</label> <br />
                <input type="text" />
            </div>
        </div>
        <button class="botao-limpar" type="submit">LIMPAR</button>
        <button class="botao-submeter" type="submit">SUBMETER</button>
    </form>

    <!--FAIXA ROSA COM LINK-->

    <div class="section">
        <p>Veja o nosso ranking<a href="#linkparaSobre"> AQUI!!!</a></p>
    </div>

</div>