<div class="alterar-museu">

    <app-nav-bar></app-nav-bar>

    <h1 class="title">ALTERAR MUSEU</h1>

    <form>
        <div class="column">
          <label for="urlFoto">URL DA IMAGEM:</label> <br />
          <input 
            type="text" 
            class="form-control" 
            id="urlFoto" 
            [(ngModel)]="museu.urlFoto"
            name="urlFoto"
          />
        </div>
        <p class="text-formato">Formato jpeg/png (tamanho mín. 1440x604 px)</p>
    
        <div class="column">
          <label for="nome">NOME DO MUSEU:</label> <br />
          <input 
            type="text" 
            class="form-control" 
            id="nome" 
            [(ngModel)]="museu.nome"
            name="nome"
          />
        </div>
    
        <div class="column">
          <label for="descricaoMuseu">DESCRIÇÃO:</label> <br />
          <input 
            type="text" 
            class="form-control" 
            id="descricaoMuseu" 
            [(ngModel)]="museu.descricaoMuseu"
            name="descricaoMuseu"
          />
        </div>
    
        <div class="column">
          <label for="funcionamentoMuseu">HORÁRIOS DE FUNCIONAMENTO:</label> <br />
          <input 
            type="text" 
            class="form-control" 
            id="funcionamentoMuseu" 
            [(ngModel)]="museu.funcionamentoMuseu"
            name="funcionamentoMuseu"
          />
        </div>
    
        <h2 class="text-h2">CONTATO:</h2>
        <div class="row">
          <div class="column">
            <label for="urlSite">SITE OFICIAL:</label> <br />
              <input 
              type="text" 
              class="form-control" 
              id="urlSite" 
              [(ngModel)]="museu.urlSite"
              name="urlSite"
            />
          </div>
          <div class="column">
            <label for="urlInstagram">INSTAGRAM:</label> <br />
            <input 
              type="text" 
              class="form-control" 
              id="urlInstagram" 
              [(ngModel)]="museu.urlInstagram"
              name="urlInstagram"
            />
          </div>
        </div>
    
        <h2 class="text-h2">ENDEREÇO:</h2>
        <div class="row">
          <div class="column">
            <label for="rua">LOGRADOURO:</label> <br />
            <input 
              type="text" 
              class="form-control" 
              id="rua" 
              [(ngModel)]="museu.endereco.rua"
              name="rua"
            />
          </div>
          <div class="column">
            <label for="numero">NÚMERO:</label> <br />
            <input 
              type="number" 
              class="form-control" 
              id="numero" 
              [(ngModel)]="museu.endereco.numero"
              name="numero"
            />
          </div>
        </div>
    
        <div class="row">
          <div class="column">
            <label for="cep">CEP:</label> <br />
            <input 
              type="text" 
              class="form-control" 
              id="cep" 
              [(ngModel)]="museu.endereco.cep"
              name="cep"
            />
          </div>
          <div class="column">
            <label for="bairro">BAIRRO:</label> <br />
            <input 
              type="text" 
              class="form-control" 
              id="bairro" 
              [(ngModel)]="museu.endereco.bairro"
              name="bairro"
            />
          </div>
        </div>
    
        <div class="row">
          <div class="column">
            <label for="cidade">CIDADE:</label> <br />
            <input 
              type="text" 
              class="form-control" 
              id="cidade" 
              [(ngModel)]="museu.endereco.cidade"
              name="cidade"
            />
          </div>
          <div class="column">
            <label for="estado">ESTADO:</label> <br />
            <input 
              type="text" 
              class="form-control" 
              id="estado" 
              [(ngModel)]="museu.endereco.estado"
              name="estado"
            />
          </div>
        </div>
    
        <div class="row">
          <div class="column">
            <label for="pais">PAÍS:</label> <br />
            <input 
              type="text" 
              class="form-control" 
              id="pais" 
              [(ngModel)]="museu.endereco.pais"
              name="pais"
            />
          </div>
        </div>
        <button class="botao-submeter" (click)="atualizarMuseus()" >SUBMETER</button>
      </form>

    <!--FAIXA ROSA COM LINK-->

    <div class="section">
        <p>Veja o nosso ranking<a routerLink="/ranking"> AQUI!!!</a></p>
    </div>

</div>

<app-footer></app-footer>