
.sobre {
  background-color: #83C5BE;
  position: relative;
  width: 100%;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title h1 {
  position: static;
  font-style: normal;
  text-align: center;
  font-weight: 800;
  font-size: 42px;
  line-height: 72px;
  margin: 0;
  padding-top: 8%;
  padding-bottom: 100px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.paragrafo1 {
  width: 550px;
  height: 250px;
  margin-left: 140px;
  margin-bottom: -4%;
  text-align: justify;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.05em;

  color: #FFFFFF;
}

.card1 {
  width: 500px;
  margin-top: -240px;
  margin-right: 200px;
  float: right;
}

.paragrafo2 {
  width: 550px;
  height: 250px;
  margin-right: 170px;
  margin-top: 80px;
  text-align: justify;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.05em;
  float: right;

  color: #FFFFFF;
}

.card2 {
  width: 500px;
  margin-top: 100px;
  margin-left: 170px;
  margin-bottom: 10px;
  float: left;
}

.paragrafo3 {
  width: 540px;
  height: 250px;
  margin-left: 140px;
  margin-top: 480px;
  text-align: justify;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.05em;

  color: #FFFFFF;
}

.card3 {
  width: 500px;
  margin-top: -330px;
  margin-right: 200px;
  float: right;
}

.equipe {
  width: 1200px;
  height: 300px;
  margin-left: 140px;
  margin-top: 5%;
  margin-bottom: 5%;
  font-style: normal;
  font-weight: 800;
  text-decoration: none;
  color: #006D77;
  background: rgba(237, 246, 249, 0.22);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.elipse1 img {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.elipse1 p {
  margin-left: 85px;
  margin-bottom: 2px;
}

.elipse1 a {
  margin-left: 95px;
  margin-bottom: 15px;
  color: #EF7649;

}

.elipse2 img {
  margin-top: -208px;
  margin-right: 765px;
  margin-bottom: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  float: right;
  
}

.elipse2 p {
  margin-top: -42px;
  margin-right: 780px;
  margin-bottom: 2px;
  float: right;
}

.elipse2 a {
  margin-right: 815px;
  margin-bottom: 15px;
  margin-top: -20px;
  float: right;
  color: #EF7649;
}


.elipse3 img {
  margin-top: -222px;
  margin-right: 530px;
  margin-bottom: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  float: right;
}

.elipse3 p {
  margin-top: -57px;
  margin-right: 555px;
  margin-bottom: 2px;
  float: right;
}

.elipse3 a {
  margin-right: 580px;
  margin-bottom: 15px;
  margin-top: -35px;
  float: right;
  color: #EF7649;
}

.elipse4 img {
  margin-top: -222px;
  margin-right: 300px;
  margin-bottom: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  float: right;
}

.elipse4 p {
  margin-top: -57px;
  margin-right: 315px;
  margin-bottom: 2px;
  float: right;
}

.elipse4 a {
  margin-right: 350px;
  margin-bottom: 15px;
  margin-top: -35px;
  float: right;
  color: #EF7649;
}

.elipse5 img {
  margin-top: -222px;
  margin-right: 50px;
  margin-bottom: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  float: right;
}

.elipse5 p {
  margin-top: -57px;
  margin-right: 70px;
  margin-bottom: 2px;
  float: right;
}

.elipse5 a {
  margin-right: 95px;
  margin-bottom: 15px;
  margin-top: -35px;
  float: right;
  color: #EF7649;
}
/*FAIXA ROSA COM LINK*/

.section {

  width: 1520px;
  height: 100px;
  left: 0px;
  align-items: center;
  display: flex;
  justify-content: center;

  background: #FFDDD2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.section p {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 0.05em;

  color: #006D77;

}

.section a {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #EF7649;
  ;

}