/* CSS reset */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* remove a linha dos links */
a {
  text-decoration: none;
}

/* esconde as ancoras da tela */
a.links {
  display: none;
}

.sobre {
  background-color: #83C5BE;
  position: relative;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title h1 {
  position: static;
  font-family: 'Poppins';
  font-style: normal;
  text-align: center;
  font-weight: 800;
  font-size: 42px;
  line-height: 72px;
  margin: 0;
  padding-top: 8%;
  padding-bottom: 100px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.paragrafo1 {
  width: 550px;
  height: 250px;
  margin-left: 140px;
  margin-bottom: -4%;
  text-align: justify;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;

  color: #FFFFFF;
}

.card1 {
  width: 400px;
  margin-top: -240px;
  margin-right: 250px;
  float: right;
}

.paragrafo2 {
  width: 550px;
  height: 250px;
  margin-right: 170px;
  margin-top: 120px;
  text-align: justify;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  float: right;

  color: #FFFFFF;
}

.card2 {
  width: 400px;
  margin-top: 90px;
  margin-left: 170px;
  float: left;
}

.paragrafo3 {
  width: 550px;
  height: 250px;
  margin-left: 140px;
  margin-top: 450px;
  text-align: justify;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;

  color: #FFFFFF;
}

.card3 {
  width: 400px;
  margin-top: -330px;
  margin-right: 250px;
  float: right;
}

.equipe {
  width: 1200px;
  height: 300px;
  margin-left: 140px;
  margin-top: 5%;
  margin-bottom: 5%;

  background: rgba(237, 246, 249, 0.22);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.elipse1 img {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.elipse1 p {
  margin-left: 85px;
  margin-bottom: 2px;
}

.elipse1 a {
  margin-left: 95px;
  margin-bottom: 15px;
}

.elipse2 img {
  margin-top: -208px;
  margin-right: 765px;
  margin-bottom: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  float: right;
}

.elipse2 p {
  margin-top: -42px;
  margin-right: 650px;
  margin-bottom: 2px;
  float: right;
}

.elipse2 a {
  margin-right: 680px;
  margin-bottom: 15px;
  margin-top: -20px;
  float: right;
}


.elipse3 img {
  margin-top: -222px;
  margin-right: 540px;
  margin-bottom: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  float: right;
}

.elipse3 p {
  margin-top: -57px;
  margin-right: 450px;
  margin-bottom: 2px;
  float: right;
}

.elipse3 a {
  margin-right: 470px;
  margin-bottom: 15px;
  margin-top: -35px;
  float: right;
}

.elipse4 img {
  margin-top: -222px;
  margin-right: 300px;
  margin-bottom: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  float: right;
}

.elipse4 p {
  margin-top: -57px;
  margin-right: 240px;
  margin-bottom: 2px;
  float: right;
}

.elipse4 a {
  margin-right: 270px;
  margin-bottom: 15px;
  margin-top: -35px;
  float: right;
}

.elipse5 img {
  margin-top: -222px;
  margin-right: 50px;
  margin-bottom: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  float: right;
}

.elipse5 p {
  margin-top: -57px;
  margin-right: 50px;
  margin-bottom: 2px;
  float: right;
}

.elipse5 a {
  margin-right: 70px;
  margin-bottom: 15px;
  margin-top: -35px;
  float: right;
}
/*FAIXA ROSA COM LINK*/

.section {

  width: 1520px;
  height: 100px;
  left: 0px;
  align-items: center;
  display: flex;
  justify-content: center;

  background: #FFDDD2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.section p {

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 0.05em;

  color: #006D77;

}

.section a {

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #EF7649;
  ;

}