<div class="sobre">

  <div class="title">
    <h1>QUEM SOMOS?</h1>
  </div>

  <div class="paragrafo1">
    <p>
      Lorem ipsum dolor sit amet. Rem quia perspiciatis non porro ipsa qui fugit eveniet et vitae impedit aut quis
      eveniet. Quo neque sapiente aut dolor laudantium aut iusto architecto ut quia rerum est officia nulla. Ut sunt
      voluptatem sit nostrum culpa non quia distinctio aut vitae voluptatibus qui nostrum repudiandae qui dolore modi
      eum perferendis obcaecati.
    </p>
  </div>
  
    <img class="card1" src="assets/serasa_experia_sobre.png" alt="" />
  

  
    <img class="card2" src="assets/dh_sobre.png" alt="" />
  
  <div class="paragrafo2">
    <p>
      Lorem ipsum dolor sit amet. Rem quia perspiciatis non porro ipsa qui fugit eveniet et vitae impedit aut quis
      eveniet. Quo neque sapiente aut dolor laudantium aut iusto architecto ut quia rerum est officia nulla. Ut sunt
      voluptatem sit nostrum culpa non quia distinctio aut vitae voluptatibus qui nostrum repudiandae qui dolore modi
      eum perferendis obcaecati. 
    </p>
  </div>

  <div class="paragrafo3">
    <p>
      Lorem ipsum dolor sit amet. Rem quia perspiciatis non porro ipsa qui fugit eveniet et vitae impedit aut quis
      eveniet. Quo neque sapiente aut dolor laudantium aut iusto architecto ut quia rerum est officia nulla. Ut sunt
      voluptatem sit nostrum culpa non quia distinctio aut vitae voluptatibus qui nostrum repudiandae qui dolore modi
      eum perferendis obcaecati. 
    </p>
  </div>
 
    <img class="card3" src="assets/clio_sobre.png" alt="" />
  

  <div class="equipe">

    <div>
      <img src="" alt="">
      <div>
        <a href="">LinkedIn</a>
      </div>
    </div>

    <div>
      <img src="" alt="">
      <div>
        <a href="">LinkedIn</a>
      </div>
    </div>

    <div>
      <img src="" alt="">
      <div>
        <a href="">LinkedIn</a>
      </div>
    </div>

    <div>
      <img src="" alt="">
      <div>
        <a href="">LinkedIn</a>
      </div>
    </div>

    <div>
      <img src="" alt="">
      <div>
        <a href="">LinkedIn</a>
      </div>
    </div>


  </div>

  <!--FAIXA ROSA COM LINK-->

  <div class="section">
    <p>Veja o nosso ranking<a href="#linkparaSobre"> AQUI!!!</a></p>
  </div>

</div>