
<div class="sobre">
  
  <app-nav-bar></app-nav-bar>
  

  <div class="title">
    <h1>QUEM SOMOS?</h1>
  </div>

  <div class="paragrafo1">
    <p>
      Somos alunas do Transforme-se, programa criado pela Serasa Experian, empresa líder em serviços de informação que
      faz parte da Experian, eleita pela revista Forbes uma das empresas mais inovadoras do mundo. O programa tem como
      foco a formação em tecnologia e dados, exclusivo para mulheres que querem aprender e ingressar neste mercado.

    </p>
  </div>

  <img class="card1" src="assets/serasa_experia_sobre.png" alt="" />



  <img class="card2" src="assets/dh_sobre.png" alt="" />

  <div class="paragrafo2">
    <p>
      O Transforme-se é um programa de bolsas de estudo integral para mulheres, que tem como parceria a Digital House,
      uma edtech que capacita e potencializa os futuros criadores do mundo digital, responsável pela ministração de
      cursos realizados.
    </p>
  </div>

  <div class="paragrafo3">
    <p>
      O nome do projeto foi escolhido em homenagem a Clio, deusa da mitologia grega. A escolha também vem da relação com
      o termo Museu, ou Mouseion, que significa “local destinado às musas”, sendo Clio uma das nove musas que residiam
      no monte Hélicon.
      O objetivo do nosso site é conectar pessoas a museus, no qual será possível conhecer mais sobre os museus do
      governo de São Paulo através de fotos, descrições, localização e informações sobre o funcionamento.
    </p>
  </div>

  <img class="card3" src="assets/clio_sobre.png" alt="" />


  <div class="equipe">

    <div class="elipse1">
      <img src="assets\Ellipse 1.png" alt="">
      <div>
        <p>Aline Napoli</p>
        <a href="https://www.linkedin.com/in/a-fagundes/">LinkedIn</a>
      </div>
    </div>

    <div class="elipse2">
      <img src="assets\Ellipse 2.png" alt="">
      <div>
        <p>Brenda Alcântara</p>
        <a href="https://www.linkedin.com/in/brenda-alcantara-/">LinkedIn</a>
      </div>
    </div>

    <div class="elipse3">
      <img src="assets\Ellipse 3.png" alt="">
      <div>
        <p>Débora Priscila</p>
        <a href="https://www.linkedin.com/in/d%C3%A9bora-mattos/">LinkedIn</a>
      </div>
    </div>

    <div class="elipse4">
      <img src="assets\Ellipse 4.png" alt="">
      <div>
        <p>Isabela Madureira</p>
        <a href="https://www.linkedin.com/in/isabelamad/">LinkedIn</a>
      </div>
    </div>

    <div class="elipse5">
      <img src="assets\Ellipse 5.png" alt="">
      <div>
        <p>Pâmela Beatriz</p>
        <a href="https://www.linkedin.com/in/p%C3%A2mela-beatriz-776383209/">LinkedIn</a>
      </div>
    </div>


  </div>

  <!--FAIXA ROSA COM LINK-->

  <div class="section">
    <p>Veja o nosso ranking<a routerLink="/ranking"> AQUI!!!</a></p>
  </div>

<app-footer></app-footer>


</div>