<div class="sobre">
  <app-nav-bar></app-nav-bar>

  <h1 class="title">QUEM SOMOS?</h1>

  <div class="text1 row">
    <p class="paragrafo1 column">
      Somos alunas do Transforme-se, programa criado pela Serasa Experian,
      empresa líder em serviços de informação que faz parte da Experian, eleita
      pela revista Forbes uma das empresas mais inovadoras do mundo. O programa
      tem como foco a formação em tecnologia e dados, exclusivo para mulheres
      que querem aprender e ingressar neste mercado.
    </p>
    <img
      class="card1 column"
      src="assets/serasa_experia_sobre.png"
      alt="Logo da Serasa Experian"
    />
  </div>

  <div class="text2 row">
    <img
      class="card2 column"
      src="assets/dh_sobre.png"
      alt="Logo Da Digital House"
    />
    <p class="paragrafo2 column">
      O Transforme-se é um programa de bolsas de estudo integral para mulheres,
      que tem como parceria a Digital House, uma edtech que capacita e
      potencializa os futuros criadores do mundo digital, responsável pela
      ministração de cursos realizados.
    </p>
  </div>

  <div class="text3 row">
    <p class="paragrafo3 column">
      O nome do projeto foi escolhido em homenagem a Clio, deusa da mitologia
      grega. A escolha também vem da relação com o termo Museu, ou Mouseion, que
      significa “local destinado às musas”, sendo Clio uma das nove musas que
      residiam no monte Hélicon. O objetivo do nosso site é conectar pessoas a
      museus, no qual será possível conhecer mais sobre os museus do governo de
      São Paulo através de fotos, descrições, localização e informações sobre o
      funcionamento.
    </p>
    <img
      class="card3 column"
      src="assets/clio_sobre.png"
      alt="Logo do Passaporte Clio"
    />
  </div>

  <div class="equipe row">
    <div class="elipse1 column">
      <img src="assets\Ellipse 1.png" alt="" />
      <div>
        <p>Aline Napoli</p>
        <a href="https://www.linkedin.com/in/a-fagundes/">LinkedIn</a>
      </div>
    </div>

    <div class="elipse2 column">
      <img src="assets\Ellipse 2.png" alt="" />
      <div>
        <p>Brenda Alcântara</p>
        <a href="https://www.linkedin.com/in/brenda-alcantara-/">LinkedIn</a>
      </div>
    </div>

    <div class="elipse3 column">
      <img src="assets\Ellipse 3.png" alt="" />
      <div>
        <p>Débora Mattos</p>
        <a href="https://www.linkedin.com/in/d%C3%A9bora-mattos/">LinkedIn</a>
      </div>
    </div>

    <div class="elipse4 column">
      <img src="assets\Ellipse 4.png" alt="" />
      <div>
        <p>Isabela Madureira</p>
        <a href="https://www.linkedin.com/in/isabelamad/">LinkedIn</a>
      </div>
    </div>

    <div class="elipse5 column">
      <img src="assets\Ellipse 5.png" alt="" />
      <div>
        <p>Pâmela Beatriz</p>
        <a href="https://www.linkedin.com/in/p%C3%A2mela-beatriz-776383209/"
          >LinkedIn</a
        >
      </div>
    </div>
  </div>

  <!--FAIXA ROSA COM LINK-->

  <div class="section">
    <p>Veja o nosso ranking<a routerLink="/ranking"> AQUI!!!</a></p>
  </div>

  <app-footer></app-footer>
</div>
