.cadastro-museu {
  width: 100%;
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: #83c5be;
}

/* Título da página */

.heading-cadastro-museu {
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 48px;
  line-height: 72px;
  font-weight: 800;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  margin: 0;
  padding-top: 8%;
  padding-bottom: 6%;
}

/* Formulário de cadastro de museus */

.column > label {
  text-align: center;
  font-style: italic;
  font-weight: 700;
  font-size: 23px;
  line-height: 42px;
  letter-spacing: 0.05em;
  padding-left: 6.7rem;
  color: #ffffff;
}

.column > input {
  width: 1140px;
  height: 67px;
  font-size: 18px;
  margin-left: 6.7rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  background: #ffffff;
  border: 1px solid #747474;
  border-radius: 15px;
}

.text-formato {
  font-weight: 700;
  font-size: 18px;
  line-height: 33px;
  letter-spacing: 0.05em;
  margin-top: -1.5rem;
  margin-bottom: 2rem;
  padding-left: 6.7rem;
  color: #ffffff;
}

.text-h2 {
  font-style: italic;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  letter-spacing: 0.05em;
  margin-bottom: 22px;
  padding-left: 6.7rem;
  color: #ffffff;
}

.row {
  margin-left: 3.2rem;
  padding: 0;
}

.row input {
  width: 541px;
  height: 67px;
  margin-left: 3.5rem;
  margin-bottom: 2rem;
  background: #ffffff;
  border: 1px solid #747474;
  border-radius: 15px;
}

.row label {
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.05em;
  margin-left: 3.5rem;
  padding: 0;
  color: #ffffff;
}

.botao-limpar {
  width: 224px;
  height: 82px;
  font-weight: 600;
  font-size: 23px;
  line-height: 42px;
  letter-spacing: 0.05em;
  background: #ffffff;
  margin: 2rem 0 4rem 46.8rem;
  color: #000000;
  border: 0;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botao-submeter {
  float: right;
  width: 224px;
  height: 82px;
  font-weight: 600;
  font-size: 23px;
  line-height: 42px;
  letter-spacing: 0.05em;
  margin: 2rem 6.5rem 4rem 1.5rem;
  background: #ef7649;
  color: #ffffff;
  border: 0;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Faixa de chamada para ação */

.chamada-acao {
  background-color: #ffddd2;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  text-align: center;
}

.chamada-acao p {
  text-align: center;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 25px 0;
  color: #006d77;
}

.chamada-acao p a {
  color: #ef7649;
  text-decoration: none;
}
