.ranking {
  width: 100%;
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: #83c5be;
}

/* Título da página */

.heading-ranking {
  text-align: center;
  letter-spacing: 0.05em;
  font-size: 48px;
  line-height: 72px;
  font-weight: 800;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 60px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
}

.img-ranking {
  width: 870px;
  height: 780px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
}

/* Faixa de chamada para ação */

.chamada-acao {
  display: flex;
  width: 100%;
  height: 80px;
  background: #ffddd2;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.chamada-acao p {
  font-weight: 600;
  font-size: 20px;
  line-height: 48px;
  letter-spacing: 0.05em;
  margin: 0;
  color: #006d77;
}

.chamada-acao p a {
  font-weight: 600;
  font-size: 20px;
  line-height: 48px;
  letter-spacing: 0.05em;
  margin: 0;
  color: #ef7649;
}
