<footer class="footer">
  <ul>
    <li>
      <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
    </li>
    <li>
      <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
    </li>
    <li>
      <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
    </li>
  </ul>

  <p>
    <a class="politermos" routerLink="/politica-privacidade"
      >Política de Privacidade</a
    >
    &emsp;|&emsp;
    <a class="politermos" routerLink="/termos-condicoes">Termos e Condições</a>
  </p>

  <p class="creditos">&copy; Passaporte Clio - Brasil, 2022</p>
</footer>
