<footer class="footer">
  <ul class="lista">
    <li class="item">
      <a href="#"><img src="assets/facebook_preto.png" alt="Facebook" /></a>
    </li>
    <li class="item">
      <a href="#"><img src="assets/email_preto.png" alt="Email" /></a>
    </li>
    <li class="item">
      <a href="#"><img src="assets/instagram_preto.png" alt="Instagram" /></a>
    </li>
  </ul>

  <p class="politermos">
    <a routerLink="/politica-privacidade">Política de Privacidade</a>
    <a href=""> | </a>
    <a routerLink="/termos-condicoes">Termos e Condições</a>
  </p>

  <p class="creditos">&copy; Passaporte Clio - Brasil, 2022</p>
</footer>
