<footer class="footer">
  <ul>
    <li>
      <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
    </li>
    <li>
      <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
    </li>
    <li>
      <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
    </li>
  </ul>

  <p> <a class="politermos" href="politicadeprivacidade.html" target="_blank">Política de Privacidade</a> &emsp;|&emsp;
    <a class="politermos" href="termosecondiçoes.html" target="_blank">Termos e Condições</a> </p>

  <p class="creditos">
    &copy; Passaporte Clio - Brasil, 2022
  </p>
</footer>