
/*PERFIL PASSAPORTE-ADMINISTRADOR*/

.perfil-admin {
    background-color: #83C5BE;
    position: relative;
}

h1 {
    position: static;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 800;
    font-size: 42px;
    line-height: 72px;
    margin: 0;
    padding-top: 8%;
    padding-bottom: 100px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content {
    position: relative;
    
}

.passaporte img {

    width: 1100px;
    height: 1100px;
    margin-top: -18%;
    margin-left: 13.5%;
}

.avatar img {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 400px;
    top: 40px;
}

div a {
    color: #343131;
}

.list {
    position: absolute;
    left: 325px;
    top: 240px;

    font-family: 'Courier Prime';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    display: flexbox;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
}

.list .a {
    margin-bottom: 7px;
}

/*FAIXA ROSA COM LINK*/

.section {

    width: 1520px;
    height: 100px;
    left: 0px;
    align-items: center;
    display: flex;
    justify-content: center;

    background: #FFDDD2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.section p {

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 0.05em;

    color: #006D77;

}

.section a {

    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 48px;
    letter-spacing: 0.05em;

    color: #EF7649;

}