<!--TÍTULO-->

<div class="title">
  <h1>PERFIL</h1>
</div>

<!--PASSAPORTE ADMINISTRADOR-->

<div class="content passaport">

  <div class="passaporte">
    <img src="/src/assets/passaporte_adm.png" alt="passaporte_administrador">

    <div class="avatar">
      <img src="/src/assets/avatar_adm.png" alt="">
    </div>

    <div class="list">

      <div>
        <a href="">ADMINISTRADOR</a>
      </div>
      <div>
        <a href="">MUSEUS</a>
      </div>
      <div>
        <a href="">MODERAÇÃO</a>
      </div>
      <div>
        <a href="">ALTERAR MUSEU</a>
      </div>
      <div>
        <a href="">CADASTRO DE MUSEUS</a>
      </div>


    </div>

  </div>

</div>
<!--FAIXA ROSA COM LINK-->


<div class="section">
  Quer conhecer mais sobre o Passaporte Clio?
  <a href="#linkparaSobre">CLIQUE AQUI.</a>
</div>