<div class="perfil-admin">

  <app-nav-bar></app-nav-bar>

  <!--TÍTULO-->

    <h1 class="title">PERFIL</h1>

  <!--PASSAPORTE ADMINISTRADOR-->

  <div class="content">

    <div class="passaporte">
      <img src="assets/passaporte_adm.png" alt="passaporte_visitante">
    </div>

    <div class="avatar">
      <img src="assets/avatar_adm.png" alt="">
    </div>

    <div class="list">
      <div class="a">
        <a routerLink="/museus">MUSEUS</a>
      </div>
      <div class="a">
        <a routerLink="/moderacao-avaliacoes">MODERAÇÃO</a>
      </div>
      <div class="a">
        <a routerLink="/cadastro-museus">CADASTRO DE MUSEUS</a>
      </div>

    </div>

  </div>


  <!--FAIXA ROSA COM LINK-->

  <div class="section">
    <p>Quer conhecer mais sobre o Passaporte Clio?<a routerLink="/sobre"> CLIQUE AQUI.</a></p>
  </div>
</div>

<app-footer></app-footer>
