
.inicio {
  background-color: #83C5BE;
  position: relative;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  position: static;
  font-family: 'Poppins';
  font-style: normal;
  text-align: center;
  font-weight: 800;
  font-size: 42px;
  line-height: 72px;
  margin: 0;
  padding-top: 8%;
  padding-bottom: 100px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.paragrafo {
  width: 500px;
  height: 250px;
  margin-left: 140px;
  text-align: justify;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 0.05em;

  color: #FFFFFF;
}

.card {
  background-color: #83C5BE;
  margin-right: 100px;
  margin-top: -350px;
  float: right;
  border: none;
}

/* Carrossel */

.d-block {
  margin-left: 24rem;
  padding-bottom: 4rem;
}

/*FAIXA ROSA COM LINK*/

.section {

  width: 1520px;
  height: 100px;
  left: 0px;
  align-items: center;
  display: flex;
  justify-content: center;

  background: #FFDDD2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.section p {

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 0.05em;

  color: #006D77;

}

.section a {

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: 0.05em;

  color: #EF7649;
  ;

}