<link rel="preconnect" href="https://fonts.googleapis.com" />

<nav
  class="navbar align-self-center justify-content-between"
  style="background-color: #04889f"
>
  <a href="inicio" routerLink="/inicio">
    <img
      src="assets/logo_clio.png"
      width="125"
      height="125"
      alt="Passaporte Clio"
    />
  </a>
  <div class="navbar-nav">
    <ul>
      <li><a class="nav-item nav-link" routerLink="/inicio">INÍCIO</a></li>
      <li><a class="nav-item nav-link" routerLink="/museus">MUSEUS</a></li>
      <li><a class="nav-item nav-link" routerLink="/ranking">RANKING</a></li>
      <li><a class="nav-item nav-link" routerLink="/sobre">SOBRE</a></li>
    </ul>
  </div>

  <!-- <div *ngIf="{perfil}="Visitante"">
      <a href="">
        <img
          src="assets/avatar_user.png"
          width="80"
          height="80"
          alt="Avatar do user"
        />
      </a>
    </div>
    <div *ngIf="{perfil}="Administrador"">
      <a href="">
        <img
          src="assets/avatar_adm.png"
          width="80"
          height="80"
          alt="Avatar do administrador"
        />
      </a>
    </div> -->

    <!-- Quando configurar o ngIf, retirar o código abaixo -->
  <a routerLink="/perfil-visitante">
    <img
      src="assets/avatar_user.png"
      width="80"
      height="80"
      alt="Avatar do user"
    />
  </a>
</nav>