<link rel="preconnect" href="https://fonts.googleapis.com">

<nav
  class="navbar align-self-center justify-content-between"
  style="background-color: #04889f"
>
  <a href="inicio">
    <img
      src="assets/logo_clio.png"
      width="100"
      height="100"
      alt="Passaporte Clio"
    />
  </a>
    <div class="navbar-nav">
      <ul>
        <li><a class="nav-item nav-link" href="inicio">INÍCIO</a></li>
        <li><a class="nav-item nav-link" href="museus">MUSEUS</a></li>
        <li><a class="nav-item nav-link" href="ranking">RANKING</a></li>
        <li><a class="nav-item nav-link" href="sobre">SOBRE</a></li>
      </ul>
    </div>
  <a href="">
    <img
      src="assets/avatar_user.png"
      width="80"
      height="80"
      alt="Avatar do user"
    />
  </a>
</nav>