<app-nav-bar></app-nav-bar>

<div class="img">
  <img
    src="assets/logo(semfundo).png"
    alt="Passaporte Clio"
    width="150"
    height="150"
  />
</div>

<div class="row">
  <div id="imagem" class="column">
    <img src="assets/imagem_login.png" alt="" />
  </div>
  <div id="text" class="column">
    <h2>SOBRE:</h2>
    <p>
      Lorem ipsum dolor sit amet. Rem quia perspiciatis non porro ipsa qui fugit
      eveniet et vitae impedit aut quis eveniet. Quo neque sapiente aut dolor
      laudantium aut iusto architecto ut quia rerum est officia nulla. Ut sunt
      voluptatem sit nostrum culpa non quia distinctio aut vitae voluptatibus
      qui nostrum repudiandae qui dolore modi eum perferendis obcaecati.
    </p>
  </div>
</div>

<div id="form-login">
<div id="box">
  <form id="form" action="">
    <fieldset>
      <legend>ENTRAR</legend>
      <label for="email">E-mail:</label><br />
      <input type="email" id="email" name="email" /><br />
      <label for="senha">Senha:</label><br />
      <input type="password" id="senha" name="senha" /><br /><br />
      <input type="submit" value="ENTRAR" />
    </fieldset>
  </form>
  <p>Novo por aqui? <a href="">Faça seu cadastro</a> <br> Esqueceu a senha? <a href="">Clique aqui</a></p>
</div>
</div>

<div id="carrossel">
    <h2>MUSEUS:</h2>

</div>

<app-footer></app-footer>
