* {
  font-family: "Poppins", sans-serif;
  background-color: #83c5be;
}

.img {
  padding: 5% 0%;
}

.img img {
  display: block;
  margin: 0% auto;
}

.row {
  display: flex;
  margin: 0;
}

.column {
  width: 100%;
  float: left;
  flex: 50%;
}

#imagem {
  align-items: center;
  justify-content: center;
  padding: 6% 5.5%;
}

#text {
  padding: 0% 5% 6% 5%;
}

.column h2 {
  text-align: center;
  margin: 0;
  padding-top: 8%;
  padding-bottom: 8%;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.column p {
  margin: 0;
  text-align: justify;
  text-indent: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 0.05em;
  color: #ffffff;
}

/* Formulário de login */
#form-login {
  background-color: #83c5be;
  padding-top: 5%;
  padding-bottom: 1%;
}

#box {
  float: left;
  justify-content: center;
  padding: 10px 70px;
  width: 600px;
  height: 520px;
  background: #e9f6fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 39px;
}

.form-floating {
  padding: 0%;
}

.form-floating > label {
  padding: 0;
  background-color: #07889b;
}

.form-control > label {
    padding: 0;
}

.form-entrar {
  background: #e9f6fa;
  padding-top: 7%;
  padding-bottom: 5%;
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #07889b;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form {
  background: #e9f6fa;
  align-items: center;
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.5);
}

.fieldset {
  align-items: center;
  background: #e9f6fa;
}

input {
  margin: 0;
  width: 471px;
  background: #ffffff;
  border: 1px solid #747474;
  border-radius: 15px;
}

.form-control label {
  align-items: center;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.5);
}

button {
  background: #e9f6fa;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  background: #ef7649;
  border: 0;
  padding: 0.5% 7.3%;
  margin: 4%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.container {
  float: left;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 7%;
}

#box p {
  background: #e9f6fa;
  text-align: center;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.05em;
  color: black;
  padding-bottom: 1.5%;
  margin: 0;
}

#box a {
  background: #e9f6fa;
}

#box a:hover {
  color: #324447;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Carrossel */

#carrossel {
  padding-top: 4%;
  padding-bottom: 6%;
}

#carrossel h2 {
  margin: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
}
