<app-nav-bar></app-nav-bar>

<div class="perfil-visitante">


  <!--TÍTULO-->

  <div>
    <h1 class="title1">PERFIL</h1>
  </div>

  <!--PASSAPORTE ADMINISTRADOR-->

  <div class="content">

    <div class="passaporte">
      <img src="assets/passaporte_user.png" alt="passaporte_administrador">
    </div>

    <div class="avatar">
      <img src="assets/avatar_user.png" alt="">
    </div>

    <div class="list">

      <div class="a">
        <a href="">ALTERAR SENHA</a>
      </div>
      <div class="a">
        <a href="">RANKING</a>
      </div>
      <div class="a">
        <a href="">MUSEUS</a>
      </div>

    </div>

  </div>

  <!--COMENTÁRIOS DO VISITANTE-->

  <div>
    <h1 class="title2">SEUS COMENTÁRIOS:</h1>
  </div>

  <div class="dropdown">
    <button class="dropbtn">MUSEUS</button>
    <div class="dropdown-content">
      <a href="#">MUSEU DA LÍNGUA PORTUGUESA</a>
      <a href="#">PINACOTECA</a>
      <a href="#">MUSEU AFRO BRASIL</a>
      <a href="#">MUSEU DA CASA BRASILEIRA</a>
      <a href="#">MUSEU DA IMIGRAÇÃO</a>
      <a href="#">MUSEU DA DIVERSIDADE SEXUAL</a>
      <a href="#">MEMORIAL DA RESISTÊNCIA</a>
      <a href="#">MUSEU CATAVENTO</a>
      <a href="#">MUSEU DO FUTEBOL</a>

    </div>
  </div>


    <div class="coments">
    </div>
 



    


<!--FAIXA ROSA COM LINK-->

<div class="section">
  <p>Quer conhecer mais sobre o Passaporte Clio?<a href="#linkparaSobre"> CLIQUE AQUI.</a></p>
</div>

<app-footer></app-footer>

</div> 


