.perfil-visitante {
  background-color: #83c5be;
  font-family: "Poppins", sans-serif;
  position: relative;
}

/*PERFIL PASSAPORTE-VISITANTE*/

.title1 {
  position: static;
  text-align: center;
  font-weight: 800;
  font-size: 42px;
  line-height: 72px;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 60px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content {
  position: relative;
  margin-bottom: -100px;
}

.passaporte img {
  display: block;
  width: 1100px;
  height: 642px;
  margin-left: auto;
  margin-right: auto;
}

.avatar img {
  position: absolute;
  width: 170px;
  height: 170px;
  left: 330px;
  top: 70px;
}

div a {
  color: #343131;
  text-decoration: none;
}

.list {
  position: absolute;
  left: 305px;
  top: 260px;
  font-family: "courierPrime", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.05em;
}

.list .a {
  margin-top: 15px;
}

/*COMENTÁRIOS PERFIL-VISITANTE*/

.title2 {
  text-align: center;
  font-weight: 800;
  font-size: 42px;
  line-height: 72px;
  margin-top: 170px;
  padding-bottom: 20px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Dropdown */

/* Style The Dropdown Button */
.dropbtn {
  background-color: #9ad0cb;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  border: none;
  cursor: pointer;
  padding: 20px;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  margin-left: 200px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 15px;
  background-color: #f9f9f9;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 2px;
  margin-left: 140px;
}

/* Links inside the dropdown */
.dropdown-content a {
  display: block;
  font-size: 12px;
  text-decoration: none;
  padding: 12px 16px;
  color: black;
  border-radius: 15px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #ef7649;
}

/* Área de comentários */

.heading-box-moderacao {
  font-weight: 800;
  font-size: 22px;
  text-align: start;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.box-moderacao {
  width: 1100px;
  background-color: #9ad0cb;
  margin-top: 48px;
  margin-left: 125px;
  margin-bottom: 50px;
  padding: 40px 50px 40px 50px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.row {
  display: flex;
  margin: 0;
}

.img-box-moderacao {
  width: 180px;
  height: 33px;
  margin-right: auto;
  margin-bottom: 1rem;
}

.editar {
  width: 30px;
  height: 30px;
  margin-left: auto;
}

.lixeira {
  width: 35px;
  height: 35px;
  margin-left: 11px;
}

.text-box-moderacao {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-align: justify;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.coments {
  width: 1100px;
  height: 550px;
  margin-left: 13.5%;
  margin-top: 40px;
  background: rgba(237, 246, 249, 0.22);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

/*FAIXA ROSA COM LINK*/

.section {
  display: flex;
  width: 100%;
  height: 80px;
  background: #ffddd2;
  align-items: center;
  justify-content: center;
  margin-top: 140px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.section p {
  font-weight: 600;
  font-size: 20px;
  line-height: 48px;
  letter-spacing: 0.05em;
  margin: 0;
  color: #006d77;
}

.section a {
  font-weight: 600;
  font-size: 20px;
  line-height: 48px;
  letter-spacing: 0.05em;
  margin: 0;
  color: #ef7649;
}
