<!--CONTEÚDO PRINCIPAL-->

<div class="content">

  <div clas="logo">
    <img class="logo" src="assets\logo_clio.png" alt="logo do projeto passaporte clio">
  </div>

  <div class="container">

    <!--FORMULÁRIO DE CADASTRO-->

    <div class="form">

      <h1 class="title">ALTERAR SENHA:</h1>

      <div class="input">

        <label for="email_alterar"></label>
        <input id="email_alterar" required="required" type="email" placeholder="E-mail"
          style="font-family: Poppins; font-size: 15px;padding-left: 5px;" />

      </div>


      <div class="input">

        <label for="ultima_senha_alterar"></label>
        <input id="ultima_senha_alterar" required="required" type="password" placeholder="Última Senha"
          style="font-family: Poppins; font-size: 15px;padding-left: 5px;" />

      </div>

      <div class="input">

        <label for="nova_senha_alterar"></label>
        <input id="nova_senha_alterar" required="required" type="password" placeholder="Nova Senha"
          style="font-family: Poppins; font-size: 15px;padding-left: 5px;" />

      </div>

      <div class="input">

        <label for="confirmar_senha_alterar"></label>
        <input id="confirmar_senha_alterar" required="required" type="password" placeholder="Confirmar Senha"
          style="font-family: Poppins; font-size: 15px;padding-left: 5px;" />

      </div>

      <div class="button">

        <button type="submit" value="alterar">ALTERAR</button>

      </div>

      <div class="link">
        Terminou?
        <a href="#paralogin"><b>Volte ao início.</b></a>
      </div>
    </div>

  </div>

 

</div>