<!--CONTEÚDO PRINCIPAL-->

<div class="content">


  <div clas="background logo">
    <img src="/src\assets\logo_clio.png" alt="logo do projeto passaporte clio">
  </div>

  <div class="container">

    <!--FORMULÁRIO DE CADASTRO-->

    <div class="form">

      <h1 class="title">ALTERAR SENHA:</h1>

      <div class="input">

        <label for="nome_cadastro">E-mail</label>
        <input id="input" name="email_alterar" required="required" type="email" />

      </div>


      <div class="input">

        <label for="ultima_senha_alterar">Última Senha</label>
        <input id="input" name="ultima_senha_alterar" required="required" type="password" />

      </div>

      <div class="input">

        <label for="nova_senha_alterar">Nova Senha</label>
        <input id="input" name="nova_senha_alterar" required="required" type="password" />

      </div>

      <div class="input">

        <label for="confirmar_senha_alterar">Confirmar Senha</label>
        <input id="input" name="confirmar_senha_alterar" required="required" type="password" />

      </div>

      <div class="button">

        <button type="submit" value="alterar">ALTERAR</button>

      </div>

      <div class="link">
        Terminou?
        <a href="#paralogin"><b>Volte ao início.</b></a>
      </div>
    </div>

  </div>
</div>


<app-footer></app-footer>