<!--CONTEÚDO PRINCIPAL-->

<div class="content">


    <div clas="background logo">
        <img src="/src\assets\logo_clio.png" alt="logo do projeto passaporte clio">
    </div>

    <div class="container">

        <!--FORMULÁRIO DE CADASTRO-->

        <div class="form">

            <h1 class="title">CADASTRAR:</h1>

            <div class="input">

                <label for="nome_cadastro">Nome</label>
                <input id="input" name="nome_cadastro" required="required" type="text" />

            </div>


            <div class="input">

                <label for="sobrenome_cadastro">Sobrenome</label>
                <input id="input" name="sobrenome_cadastro" required="required" type="text" />

            </div>

            <div class="input">

                <label for="email_cadastro">E-mail</label>
                <input id="input" name="email_cadastro" required="required" type="email" />

            </div>

            <div class="input">

                <label for="senha_cadastro">Senha</label>
                <input id="input" name="senha_cadastro" required="required" type="password" />

            </div>

            <div class="button">

                <button type="submit" value="CADASTRAR">CADASTRAR</button>

            </div>

            <div class="link">
                Esqueceu a senha?
                <a href="#paraalterarsenha"><b>Clique aqui.</b></a>
            </div>
        </div>

    </div>
</div>



<app-footer></app-footer>