<!--CONTEÚDO PRINCIPAL-->

<div class="content">


    <div class="background">
        <img class="logo" src="assets/logo_clio.png" alt="logo do projeto passaporte clio">
    </div>

    <div class="container">

        <!--FORMULÁRIO DE CADASTRO-->

        <div class="form">

            <h1 class="title">CADASTRAR:</h1>

            <div class="input">

                <label for="nome_cadastro"></label>
                <input id="nome_cadastro" required="required" type="text" placeholder="Nome"  style="font-family: Poppins; font-size: 15px;padding-left: 5px;"/>

            </div>


            <div class="input">

                <label for="sobrenome_cadastro"></label>
                <input id="sobrenome_cadastro" required="required" type="text" placeholder="Sobrenome" style="font-family: Poppins; font-size: 15px;padding-left: 5px;"/>

            </div>

            <div class="input">

                <label for="email_cadastro"></label>
                <input id="email_cadastro" required="required" type="email" placeholder="E-mail" style="font-family: Poppins; font-size: 15px;padding-left: 5px;"/>

            </div>

            <div class="input">

                <label for="senha_cadastro"></label>
                <input id="input" name="senha_cadastro" required="required" type="password" placeholder="Senha" style="font-family: Poppins; font-size: 15px;padding-left: 5px;"/>

            </div>

            <div class="button">

                <button type="submit" value="cadastrar">CADASTRAR</button>

            </div>

            <div class="link">
                Esqueceu a senha?
                <a href="#paraalterarsenha"><b>Clique aqui.</b></a>
            </div>
        </div>

    </div>
</div>



